@value mediaQuery from '/src/common/size.css';

.movies {
  list-style: none;
  padding: 0 0.3rem;
  margin: 0;
  overflow-y: auto;
  height: 91.5vh;
}

.empty {
  text-align: center;
}

@media screen and (max-width: mediaQuery) {
  .movies {
    height: 30vh;
  }
}
