@value myPurple,myLightPurple, myYellow from '/src/common/colors.css';

.form {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  align-items: center;
  background: lightyellow;
}

.thumbnail {
  margin-right: 0.5rem;
  object-fit: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.description,
.comment {
  font-family: 'Nanum Gothic', sans-serif;
}

.title {
  width: 100%;
  font-size: 1.3rem;
  font-weight: bold;
}

.comment {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.3rem 0.5rem;
  resize: none;
  overflow-y: auto;
  outline: none;
}

.rating {
  width: 5rem;
  margin: 0 0.5rem;
  padding: 0.2rem 0.5rem;
}

.button {
  padding: 0.3rem;
  background: myLightPurple;
}

.button:hover {
  background: myYellow;
}
