@value myPurple,myLightPurple, myYellow from '/src/common/colors.css';

.form {
  /* border: thistle 2px solid; */
  display: flex;
  transition: all 300ms ease;
  /* height: 12rem; */
  width: 100%;
  padding: 0.5rem;
}

.thumbnail {
  margin-right: 0.5rem;
  object-fit: none;
}

.description,
.comment {
  font-family: 'Nanum Gothic', sans-serif;
}

/* .title::after {
  content: '';
  display: block;
  height: 2px;
  width: 90%;
  transform: translateY(0.5em);
  background: myPurple;
} */

.comment {
  /* height: 2rem; */
  width: 100%;
}

.button {
  /* padding: 0.3rem; */
  background: myLightPurple;
}

.button:hover {
  background: myYellow;
}
