@value myLightPurple, myPurple, myWhite , myYellow from '/src/common/colors.css';
@value mediaQuery from '/src/common/size.css';

button {
  outline: 0;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: myPurple;
  padding: 0.5rem 2rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  cursor: default;
}

.logoImg {
  width: 2.5rem;
}

.logoText {
  font-size: 1.5rem;
  padding: 0 0.5rem;
  white-space: nowrap;
  font-family: 'Lobster', cursive;
}

.searchInput {
  height: 2rem;
  width: 30%;
  padding: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  padding: 1.3rem 1rem;
  outline: 3px solid myLightPurple;
  background: white;
}

.logout {
  font-size: 1rem;
  background: myLightPurple;
  padding: 1rem;
  font-weight: bold;
  white-space: nowrap;
}

.logout:hover {
  background: myYellow;
}

@media screen and (max-width: mediaQuery) {
  .header {
    flex-direction: column;
  }
  .searchInput {
    width: 90%;
    margin: 0.5rem 0;
  }
  .logout {
    padding: 0.5rem;
  }
}
