@value myPurple,myLightPurple, myYellow from '/src/common/colors.css';

.movie {
  /* width: 30rem; */
  margin: 1rem;
  border: olive 2px solid;
  display: flex;
}

.thumbnail {
  margin-right: 0.5rem;
}

.description {
}

.starRatings {
  padding-bottom: 1.5rem;
  display: flex;
}

.ratingBase {
  position: absolute;
  width: 90px;
  color: myLightPurple;
  overflow: hidden;
  cursor: default;
}

.ratingFill {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  color: myPurple;
}

.rating {
  transform: translateX(5.5rem);
}
