@value myPurple, myLightPurple, myYellow, myShadow, myLightGrey, myCrimson from '/src/common/colors.css';

.movie {
  width: 100%;
  display: flex;
  transition: all 300ms ease;
  cursor: default;
  box-shadow: 5px 5px 10px myShadow;
  padding: 1rem 0;
}

.movie:hover {
  background: lemonchiffon;
}

.thumbnail {
  object-fit: none;
  margin-right: 0.5rem;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.description {
  padding: 0.5rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}

.subTitle {
  margin-bottom: 0.5rem;
}

.rating {
  display: flex;
  vertical-align: middle;
  margin: 0.3rem 0;
}

.starRatings {
  position: relative;
}

.ratingBase {
  position: absolute;
  width: 90px;
  color: myLightGrey;
  overflow: hidden;
  cursor: default;
}

.ratingFill {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  color: myCrimson;
}

.userRating {
  margin-left: 90px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  background: myLightPurple;
  padding: 0.5rem 0.3rem;
  margin: 0.1rem;
}

.button:hover {
  cursor: pointer;
  background: myYellow;
}

.detail {
  text-decoration: none;
  color: black;
}
