@value myPurple,myLightPurple, myYellow, myShadow from '/src/common/colors.css';

.movie {
  /* width: 30rem; */
  margin: 1rem;
  display: flex;
  transition: all 300ms ease;
  cursor: pointer;
  box-shadow: 5px 5px 10px myShadow;
  padding: 1rem 0;
}

.movie:hover {
  background: myLightPurple;
  transform: scale(1.05);
}

.thumbnail {
  margin-right: 0.5rem;
}

.description {
  font-family: 'Nanum Gothic', sans-serif;
}

.title {
  font-size: 1.3rem;
}

.starRatings {
  padding-bottom: 1.5rem;
  display: flex;
}

.ratingBase {
  position: absolute;
  width: 90px;
  color: myLightPurple;
  overflow: hidden;
  cursor: default;
}

.ratingFill {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
  color: myPurple;
}

.rating {
  transform: translateX(5.5rem);
}
