@value myLightPurple, myPurple, myYellow, myBlack,myShadow, myWhite from '/src/common/colors.css';

.login {
  display: flex;
  flex-direction: column;
  background: myPurple;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 2rem;
  /* margin: 0 0.5rem; */
}

.login:hover {
  box-shadow: 5px 5px 10px myShadow;
}

.text {
  color: myWhite;
}

.method {
  font-size: 1.5rem;
  background: myLightPurple;
  width: 80%;
  padding: 1rem;
  margin: 0.5rem 0;
  color: myWhite;
  font-weight: bold;
}

.method:hover {
  background: myYellow;
  color: myBlack;
}

.icon {
  margin-right: 0.3rem;
  font-size: 1.6rem;
}
