@value myPurple, myShadow, myLightPurple, myWhite, myYellow, myBlack from '/src/common/colors.css';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: myPurple;
  width: 40rem;
  padding: 2rem 0;
  /* border-radius: 2.5rem; */
}

.container:hover {
  box-shadow: 5px 5px 10px myShadow;
}

.notification {
  margin-top: 0;
}

.input {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.phoneNumber,
.verifyNumber {
  padding: 0.5rem;
  margin: 0 0.5rem;
  /* border-radius: 0.5rem; */
  outline: 0;
  border: none;
  font-size: 1.2rem;
  width: 60%;
}

.button {
  outline: 0;
  /* border: none; */
  /* border-radius: 0.5rem; */
  padding: 0.8rem;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
  background: myLightPurple;
  /* color: myWhite; */
}

.button:hover {
  background-color: myYellow;
  color: myBlack;
}
